/* Tampilan dasar */
body {
  font-family: "Arial", sans-serif;
  background-color: #fef9e7;
  color: #444;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.headline {
  font-size: 2.5rem;
  color: #ff6b6b;
}

/* Gaya tombol */
.button {
  background-color: #feca57;
  border: none;
  padding: 15px 30px;
  border-radius: 25px;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  margin: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.button:hover {
  background-color: #ff9f43;
  transform: scale(1.05);
}

/* Teks cinta */
.love-text,
.final-text {
  font-size: 1.8rem;
  color: #ff6b81;
}

/* Catatan kecil */
.note {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #ff6b6b;
  font-size: 0.4rem;
  padding: 5px 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  animation: pulse 2s infinite;
}

/* Efek animasi */
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

/* Notifikasi */
#notification {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff9f43;
  color: white;
  padding: 15px;
  border-radius: 25px;
  font-size: 1.2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  display: none; /* Sembunyikan secara default */
  animation: showNotification 1s ease-in-out;
}

@keyframes showNotification {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

/* Sembunyikan elemen */
.hidden {
  display: none;
}

.thank-you-image {
  max-width: 80%;
  height: auto;
  margin-top: 20px;
}

.thank-you-text {
  font-size: 1.5rem;
  color: #ff6b81;
  margin-top: 20px;
}
